<div class="form-group">
  <label  for="{{inputId}}"{{#if required}} class="required"{{/if}}>
    {{label}}
  </label>
  <input type="email"
         id="{{inputId}}"
         class="form-control {{#if defaultValue}}predefined_input{{/if}}"
         placeholder="{{placeholder}}"
         {{#if defaultValue}} value="{{defaultValue}}" {{/if}}
         {{#if required}} required {{/if}}
         {{#if readonly}} readonly {{/if}}>
  <div class="invalid-feedback">Please provide a valid email address</div>
</div>
