<div class="form-group form-row">
  <label for="{{inputId}}" class="col-form-label {{#if required}}required{{/if}}">
    {{label}}
  </label>
  <div class="col">
    <select id="{{inputId}}" class="form-control">
      {{#each libDocList}}
        <option value="{{workflowLibDoc}}">{{label}}</option>
      {{/each}}
    </select>
    <div class="invalid-feedback">Please select a file.</div>
  </div>
</div>
